<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
    <div id="lab">
        First Name : <input type="text" v-model="f_name"> <br><br>
        Last Name : <input type="text" v-model="l_name"> <br><br>
        Full Name : {{full_name}} <br><br>
        Updata : {{update}}
    </div>


<script>
    var vue_lab = new Vue({
        el:"#lab",
        data:{
            f_name:"111",
            l_name:"222",
            update:"",
        },
        computed:{
            full_name(){
                console.log(123);
                this.update= new Date().toDateString(); 
                return this.f_name + " " + this.l_name;
            }
        },
        watch:{

        }
    })


</script>

</body>
</html>